<!-- views/index.hbs -->

{{> layout}}

<section class="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="jumbotron">
                    <h1 class="display-4">Welcome to My Portfolio</h1>
                    <p class="lead">This is a simple portfolio website created with Express and Bootstrap.</p>
                    <hr class="my-4">
                    <p>Feel free to explore more about me, check out my projects, or get in touch.</p>
                    <a class="btn btn-primary btn-lg" href="/about" role="button">Learn more about me</a>
                </div>
            </div>
        </div>
    </div>
</section>
