body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* public/styles/main.css */

/* Styles for the navbar */
.navbar {
  background-color: #343a40; /* Dark background color */
}

.navbar-brand {
  color: #ffffff !important; /* White text color for links */
}

.navbar-brand:hover {
  color: #ffc107 !important; /* Yellow on hover */
}

/* Styling for sections */
.section-title {
  text-align: center;
  margin-bottom: 30px;
}

.about-section {
  padding: 80px 0;
  background-color: #f8f9fa; /* Light gray background */
}

.projects-section {
  padding: 80px 0;
  background-color: #e9ecef; /* Lighter gray background */
}

.contact-section {
  padding: 80px 0;
  background-color: #f8f9fa; /* Light gray background */
}

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.card-body {
  font-size: 18px;
}

/* Button styles */
.btn-primary {
  background-color: #007bff; /* Blue background */
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3; /* Darker blue on hover */
  border-color: #0056b3;
}

/* Footer styles */
.footer {
  background-color: #343a40; /* Dark footer background */
  color: #ffffff; /* White text color */
  text-align: center;
  padding: 20px 0;
}

.footer a {
  color: #ffc107; /* Yellow text color for links */
}

.footer a:hover {
  color: #ffffff; /* White on hover */
  text-decoration: none;
}
